h1 {
    font-family: arial;
    font-size: 30px;
    color: #222; /*These are hexadecimal codes. Do not worry about them for now.*/
}

img {
    height : 200px;
}

.thickborder {
    border: 4px solid #222;
    box-sizing:border-box;
}

blockquote {
     border-left: 4px solid #888;
     padding-left: 5px;
     font-size: 20px;
     color: #477;
     max-width: 150px;
}

p {
     text-align: right;
     font-size: 16px;
     color: #744;
     padding: 3px;
}

div {
    border: 2px solid #222;
    float:left;
    margin: 5px;
}